*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}

body, html{
    height: 100%;
}

.clear{
    clear: both;
}

.center{
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

.header{
    width: 100%;
    padding: 0 2%;
    height: 76px;
    background-color: crimson;
}

.header img{
    height: 50px;
    width: 80px;
}

.header img{
    margin: 19px;
}

.container-banner{
    width: 100%;
    padding: 0 2%;
    height: 557px;
    background-image: url('../imagens/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
    max-width: 1280px;
}

.form{
    padding: 15px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: white;
    float: right;
    position: relative;
    bottom: 15px;
    border: 8px solid rgb(211,211,211, 0.5);
    background-clip: padding-box;
}

.form h2{
    font-weight: normal;
    color: gray;
    font-size: 21px;
}

.input-container{
    margin-top: 20px;

}

.input-container span, .form span{
    display: inline-block;
    width: 100%;
    color: gray;
    font-size: 17px;
}

.input-container input[type=text]{
    margin-top: 10px;
    width: 344px;
    height: 55px;
    border: 1.5px solid lightgray;
    padding: 10px;
}

.form p{
    margin: 18px 0;
}

.center-botton{
    text-align: center;
}

.form input[type=submit]{
    display: inline-block;
    width: 280px;
    height: 86px;
    background-color: crimson;
    font-size: 25px;
    cursor: pointer;
}

.form input[type=submit]:hover{
    background-color: rgb(243, 10, 57); 

}

.container-list{
    padding: 35px;
    float: left;
    max-width: 519px;
    width: 100%;
    height: 270px;
    background-color: rgb(204, 79, 104, 0.6);
    margin-top: 45px;
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    color: white;
    margin-top: 15px;
}

.container2{
    padding: 40px 2%;
    background-color: lightgray;
    text-align: center;
}

.container2 h2{
    font-weight: normal;
}

.container2 p{
    width: 100%;
    max-width: 768px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;

}

.arrow{
    position: relative;
    top: 60px;
    width: 40px;
    height: 40px;
    left: 50% ;
    margin-left: -20px;
    background-image: url(../imagens/arrow.png);
    background-size: 100% 100%;
}

.section1{
    padding: 90px 2%;
}

.section1 h2{
    text-align: center;
    color: gray;
}

.container-section{
    margin-top: 40px;
    text-align: center;
}

.container-single{
    float:left;
    width:33.33%;
}

.container-single p{
    text-align: justify;
    padding: 20px 25px;
    margin-bottom: 20px;
}

.container-single img{
    width: 70px;
}

.footer{
    padding: 20px 0;
    border-top: 4px solid crimson;
    text-align: center;
    margin-top: 8px;
}

@media screen and (max-width: 1024px){

    .header{
        width: 100%;
        padding: 15px 0;
        height: auto;
    }
    .header img{
        margin: 0 20px;
    }

    .container-banner{
        width: 100%;
        padding: 40 2%;
        height: auto;
        text-align: center;
    }

    .form{
        padding: 15px;
        margin-top: 30px;
        width: 60%;
        max-width: 400px;
        height: 100%;
        float: right;
    }

    .input-container input[type=text]{
        width: 100%;
        height: 55px;
    }

    .container-list{
        padding: 35px 0;
        margin-top: 30px;
        float: left;
        max-width: 500px;
        width: 40%;
        height: auto;
    }

    .container2 p{
        padding: 0 20px;
    
    }

}

@media screen and (max-width:768px){
    .container-list{
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .form{
        width: 100%;
        float: none;
        display: inline-block;
        margin-top: 30px;
    }

    .container-single{
        float:none;
        display: inline-block;
        width:100%;
        max-width: 600px;
        padding: 30px 0;
    }
}

@media screen and (max-width:667px){
    .container-list{
        margin-top: 20px;
    }
}